.titulo{
    width: 90%;
    height: 80px;
    border-bottom: solid 5px rgb(1, 236, 1);
}
.titulo>span{
    font-size: 60px;
    font-weight: bold;
    font-family: cursive;
    color: white;
}
.series{
    border-bottom: solid 5px red;
    width: 90%;
    margin-top: 25px;
    padding: 15px;
}
.imagen{
    width: 35%;
    height: 240px;
    display: inline-block;
}
.imagen>img{
    position: relative;
    width: 100%;
}
.info{
    display: inline-block;
    width: 60%;
    height: 240px;
    margin-left: 15px;
    padding: 10px;
}
span{
    position: absolute;
}
.tituloserie{
    width: 80%;
    height: 30px;
    margin-top: 10px;
    padding: 15px;
}
.tituloserie>span{
    font-size: 35px;
    font-weight: bold ;
    font-family: Arial;
    color: white;
}
.temporadas{
    margin-top: 10px;
    width: 80%;
    height: 20px;
    padding: 15px;
}
.temporadas>span{
    font-size: 25px;
    font-weight: bold ;
    font-family: Arial;
    color: white;
}
.sipnosis{
    margin-top: 10px;
    width: 95%;
    height: 65px;
    padding: 15px;
    overflow-y: hidden;
}
.sipnosis>span{
    position: relative;
    font-size: 20px;
    font-family: Arial;
    color: white;
}
.series:hover{
    border: solid 4px rgb(1, 236, 1);
    border-bottom: solid 4px rgb(40, 0, 58);
    background-color: #171717;
}
.imagen>img:hover{
    border: solid 3px red;
}
.icontarde{
    position: fixed;
    width: 12%;
    height: 80px;
    top: 0px;
    right: 0%;
    border-left: solid 5px rgb(1, 236, 1);
    color: white;
}
.icontarde>img{
    position: relative;
    width: 45%;
    top:5px;
    left: 26%;
}
.icontarde:hover{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(41,20,66,1) 49%, rgba(0,0,0,1) 96%);
}